<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 在这里仅仅为了开启懒加载 -->
	<settings>
		<!-- 打开延迟加载的开关 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 将积极加载改为消极加载，即延迟加载 -->
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="cacheEnabled" value="true" />
	</settings>

</configuration>
