<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.jxnu.blog.dao.NoticeDao">
	<!-- 属性到表列名的映射 -->
	<resultMap id="NoticeResultMap" type="Notice">
		<id property="id" column="id" />
		<result property="content" column="content" />
		<result property="noticePublisher" column="notice_publisher" />
		<result property="noticeDate" column="notice_date" />
		<result property="noticeDateStr" column="notice_date_str" />
		<result property="level" column="level" />
	</resultMap>
	<!-- 公告分页查询 -->
	<select id="listNotice" parameterType="java.util.Map" resultMap="NoticeResultMap">
		SELECT id,content,notice_publisher,DATE_FORMAT(notice_date,'%Y年%m月%d日 %H:%i:%S') AS notice_date_str,level
		from
		t_notice
		ORDER
		BY level desc
		<if test="start!=null and end!=null">
			limit #{start},#{end}
		</if>
	</select>
	<!-- 根据id获取公告信息 -->
	<select id="getNoticeById" parameterType="java.lang.Integer"
		resultMap="NoticeResultMap">
		SELECT id,content,notice_publisher,DATE_FORMAT(notice_date,'%Y年%m月%d日 %H:%i:%S') AS notice_date_str,level
		from
		t_notice
		where id=#{id}
	</select>
	<!-- 获取总数 -->
	<select id="getTotal" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT count(*) from t_notice
	</select>
	<!-- 添加 -->
	<insert id="saveNotice">
		insert into t_notice VALUES
		(null,#{content},#{noticePublisher},now(),#{level})
	</insert>
	<!--删除 -->
	<delete id="deleteByNoticeId" parameterType="java.lang.Integer">
		DELETE FROM t_notice
		where id=#{id}
	</delete>
	<!-- 修改 -->
	<update id="updateNotice" parameterType="Notice">
		update t_notice
		<set>
			<if test="content!=null and content!=''">
				content=#{content},
			</if>
			<if test="noticePublisher!=null and noticePublisher!=''">
				notice_publisher=#{noticePublisher},
			</if>
			<if test="level!=null and level!=''">
				level=#{level},
			</if>
			<if test="noticeDate!=null">
				notice_date=now(),
			</if>
		</set>
		where
		id=#{id}
	</update>
	<!--获取公告信息 并且是按级别降序，很重要的放前面 -->
	<select id="getAllNotices" resultMap="NoticeResultMap">
		SELECT id,content,notice_publisher,DATE_FORMAT(notice_date,'%Y年%m月%d日 %H:%i:%S') AS notice_date_str,level FROM
		t_notice order by level desc
	</select>
</mapper>