<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; Charset=utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<title>梦境迷离 - A java developer come from jxnu.</title>
<link rel="shortcut icon" th:href="@{/images/Logo_40.png}"
	type="image/x-icon">
<!--Layui-->
<link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
<!--font-awesome-->
<link th:href="@{/plug/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" />
<!--全局样式表-->
<link th:href="@{/css/global.css}" rel="stylesheet" />
<!-- 本页样式表 -->
<link th:href="@{/css/home.css}" rel="stylesheet" />
</head>
<body>
	<!-- 导航 -->
	<nav class="blog-nav layui-header">
		<div class="blog-container">
			<!-- QQ互联登陆 -->
			<a target="_blank" th:href="@{http://wpa.qq.com/msgrd?v=3&uin=568845948&site=qq&menu=yes}"
			 class="blog-user"> <i class="fa fa-qq"></i>
			</a> <a href="javascript:;" class="blog-user layui-hide"> <img
				th:src="@{/images/Absolutely.png}" alt="jxnu-liguobin"
				title="jxnu-liguobin" />
			</a> <a class="blog-logo" th:href="@{/index/home}">梦境迷离</a>
			<!-- 导航菜单 -->
			<ul class="layui-nav" lay-filter="nav">
				<li class="layui-nav-item layui-this"><a
					th:href="@{/index/home}"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
				</li>
				<li class="layui-nav-item"><a
					th:href="@{/index/article}"><i
						class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a></li>
				<li class="layui-nav-item"><a
					th:href="@{/indexViews/resource.html}"><i
						class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a></li>
				<li class="layui-nav-item"><a
					th:href="@{/indexViews/timeline.html}"><i
						class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a></li>
				<li class="layui-nav-item"><a
					th:href="@{/index/about}"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
				</li>
			</ul>
			<!-- 手机和平板的导航开关 -->
			<a class="blog-navicon" href="javascript:;"> <i
				class="fa fa-navicon"></i>
			</a>
		</div>
	</nav>
	<!-- 主体（一般只改变这里的内容） -->
	<div class="blog-body">
		<!-- canvas -->
		<canvas id="canvas-banner" style="background: #393D49;"></canvas>
		<!--为了及时效果需要立即设置canvas宽高，否则就在home.js中设置-->
		<script type="text/javascript">
			var canvas = document.getElementById('canvas-banner');
			canvas.width = window.document.body.clientWidth - 10;//减去滚动条的宽度
			if (screen.width >= 992) {
				canvas.height = window.innerHeight * 1 / 3;
			} else {
				canvas.height = window.innerHeight * 2 / 7;
			}
		</script>
		<!-- 这个一般才是真正的主体内容 -->
		<div class="blog-container">
			<div class="blog-main">
			  <div class="home-tips shadow">
                    <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
                    <!-- 如果存在重要公告则优先显示  -->
                    <div class="home-tips-container">
                        <span th:if="${notice.level} eq 2" style="color: red" th:each="notice : ${application.notice}" th:text="${notice.content}">这个是公告 </span>
                        <span th:if="${notice.level} eq 1" style="color: #1E9FFF;" th:each="notice : ${application.notice}" th:text="${notice.content}"></span>
                        <span th:if="${notice.level} eq 0" style="color: #009688" th:each="notice : ${application.notice}" th:text="${notice.content}"></span>
                    </div>
                </div>
				<!--左边文章列表-->
				<div class="blog-main-left">
					<div id="imageForArticle" class="article shadow"
						th:each="blog : ${application.pageBean.result}">
						<div class="article-left"
							th:if="${not #lists.isEmpty(blog.imageList)}">
							<div th:utext="${blog.imageList[0]}"></div>
						</div>
						<div class="article-left"
							th:if="${#lists.isEmpty(blog.imageList)}">
							<img th:src="@{/images/cover/201703181909057125.jpg}" alt="默认显示的图片" />
						</div>
						<div class="article-right">
							<!-- 文章标题 -->
							<div class="article-title">
								<a th:href="@{'/blog/articles/'+${blog.id}}"> <span th:text="${blog.title}">标题</span></a>
							</div>
							<!-- 文章摘要 -->
							<div class="article-abstract">
								<span th:text="${blog.summary}">摘要</span>
							</div>
						</div>
						<div class="clear"></div>
						<div class="article-footer">
							<!-- 文章的访问信息 -->
							<span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span
								th:text="${blog.releaseDateStr}">日期</span></span> <span><i
								class="fa fa-tag"></i>&nbsp;&nbsp;<a th:href="@{'/index/home?typeId='+${blog.blogType.id}}"><span
									th:text="${blog.blogType.typeName}">类型</span></a></span> <span
								class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;<span
								th:text="${blog.clickHit}">浏览量</span></span> <span
								class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;<span
								th:text="${blog.replyHit}">评论量</span></span>
						</div>
					</div>
					<fieldset class="layui-elem-field layui-field-title"
						style="margin-top: 30px;">
						<legend></legend>
					</fieldset>

					<div id="demo2"></div>
				</div>

				<!--右边小栏目-->
				<div class="blog-main-right">
					<div class="blogerinfo shadow">
						<div class="blogerinfo-figure">
							<img alt="jxnu-liguobin" id="imageName" style="width: 100px;height: 100px;" />
						</div>
						<p class="blogerinfo-nickname">
							<span th:text="${application.blogger.nickName}"> </span>
						</p>
						<p class="blogerinfo-introduce">
							<span th:text="${application.blogger.sign}"> </span>
						</p>
						<p class="blogerinfo-location">
							<i class="fa fa-location-arrow"></i>&nbsp;江西 - 南昌
						</p>
						<hr />
						<div class="blogerinfo-contact">
							<a target="_blank" title="QQ交流"
								th:href="@{http://wpa.qq.com/msgrd?v=3&uin=568845948&site=qq&menu=yes}"><i
								class="fa fa-qq fa-2x"></i></a> <a target="_blank" title="给我写信"
								th:href="@{mailto:568845948@qq.com?subject=blogQuestions}"><i
								class="fa fa-envelope fa-2x"></i></a> <a target="_blank"
								title="新浪微博" th:href="@{https://weibo.com/p/1005053803958567/home?from=page_100505&mod=TAB&is_all=1#place}"><i
								class="fa fa-weibo fa-2x"></i></a> <a target="_blank" title="码云"
								th:href="@{https://github.com/jxnu-liguobin}"><i
								class="fa fa-git fa-2x"></i></a></div>
								<div><span class="blogerinfo-introduce"  >Java学习交流群:</span>
							<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=b848c6be2032426b1166f66a608247ce8fb2f8becf97f5f0c89dd64c8681fe39" class="fa fa-2x">
							<img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="Java从入门到放弃" title="Java从入门到放弃"></a>	
						</div>
					</div>
					<div></div>
					<!--占位-->
					<div class="blog-module shadow">
						<div class="blog-module-title">文章存档</div>
						<ul class="fa-ul blog-module-ul" style="margin-left: 0px;"
							th:each="dateList : ${application.blogCountList}"
							th:if="${not #lists.isEmpty(application.blogCountList)}">
							<li><i class="layui-icon"
								style="color: #1E9FFF;margin-left: 0px;">&#xe637;</i> 
								<a th:href="@{'/index/home?releaseDateStr='+${dateList.releaseDateStr}}">
								<span th:text="${dateList.releaseDateStr}">
								</span>
									（<span th:text="${dateList.blogCount }"></span>）</a>
							</li>
							<li th:if="${#lists.isEmpty(application.blogCountList)}">
							<span>暂无信息！</span>
							</li>
						</ul>
					</div>
					<div class="blog-module shadow">
						<div class="blog-module-title">一路走来</div>
						<dl class="footprint">
							<dt>2017年11月13日</dt>
							<dd>1、使用Layui+SpringBoot+Myabtis+Mysql+Lucene写的个人博客</dd>
							<dt>2017年11月13日</dt>
							<dd>1、完成前端分页，侧栏显示</dd>
							<dt>2017年11月14日</dt>
							<dd>1、完成详情页面显示跳转和评论</dd>
							<dt>2017年11月15日</dt>
							<dd>1、修复详情页面文章内容图片过大问题</dd>
							<dt>2017年11月20日</dt>
							<dd>1、添加http强制重定向至https的支持</dd>
							<dd>2、修复百度分享不支持https</dd>
							<dd>3、修复QQ互联无法打开QQ，群</dd>
							<dt>2017年11月21日</dt>
							<dd>1、添加评论验证码，修复thymeleaf[[]]无法正常显示（后台返回json,前台解析，ps:直接显示偶而失效）</dd>
							<dd>2、bug:无法清空富文本（准备使用自定义函数代替reset
							【$('#LAY_layedit_1').contents().find('body').html('');】）</dd>
							<dt>2017年11月22日</dt>
							<dd>1、添加文章关键字侧栏</dd>
							<dd>2、修复写文章和修改文章不能清空富文本bug</dd>
							<dt>2017年11月28日</dt>
							<dd>1、修复未审核的评论也被计算在内</dd>
							<dd>2、IdentityHashMap造成的乱序问题（覆盖TreeMap的CompareTo方法）未修复</dd>
							<dd>3、搜索下方显示最近搜索（cookies）未完成</dd>
							<dt>2017年11月29日</dt>
							<dd>1、添加代码高亮显示（bug:如果是直接复制的图片，大小无法控制，图片宽度超过屏幕）</dd>
							<dd>2、添加lucene全文检索，关键字高亮（bug:摘要 博客类型构建索引失败--解决）</dd>
							<dt>2017年12月1日</dt>
							<dd>1、添加代码高亮显示（显示行数，有bug）</dd>
							<dd>2、完善lucene全文检索</dd>
							<dd>3、添加搜索排行，显示前20条最高搜索次数的关键词</dd>
							<dt>2017年12月4日</dt>
							<dd>1、添加前台ip拦截，禁止访问与倒计时</dd>
							<dd>2、完善开发文档</dd>
							<dd>3、修复IdentityHashMap造成的乱序问题（与此同时，同key的value仍无法解决）</dd>
							<dt>2017年12月5日</dt>
							<dd>1、添加留言以及其他小修改</dd>
							<dt>2017年12月6日</dt>
							<dd>1、开启事务支持</dd>
							<dd>2、修复ip解析地址时超时，添加数据库字段address存储地址</dd>
							<dt>2017年12月9日</dt>
							<dd>添加403 404 405 406 500等页面的处理 </dd>
							<dd>1、404 405特殊处理->实现ErrorController接口</dd>
							<dd>2、500->实现容器的customize方法</dd>
							<dd>3、403使用Shiro session 406使用拦截器</dd>
							<dd>添加公告功能，完成公告dao以及service层接口与测试</dd>
							<dt>2017年12月10日</dt>
							<dd>1、修正手机Ipad的悬浮窗显示不正确</dd>
							<dd>2、头像上传改为缩略图显示，前台文章和个人信息也缩放。后台管理系统不兼容手机等小屏幕，表格过于密集</dd>
							<dt>2017年12月11日</dt>
							<dd>1、修正layui富文本编辑器带来的自定义验证问题（初始化仍然有可能失败）</dd>
							<dd>2、完成公告控制层，修改留言的邮箱正则表达式</dd>
							<dt>2017年12月12日</dt>
							<dd>1、完成服务器的路径配置</dd>
							<dd>2、优化手机样式</dd>
							<dt>2017年12月13日</dt>
							<dd>1、修复关于作者缩略图失效问题，通过绑定tab的切换事件（bug:刷新会复原）</dd>
							<dd>2、完善手机显示样式（bug:无法随机取出map的元素）</dd>
							<dd>3、添加留言板的流加载（懒加载）</dd>
							<dt>2017年12月14日</dt>
							<dd>1、添加文章评论懒加载，全文检索分页修复</dd>
						</dl>
					</div>
					<div class="blog-module shadow">
						<div class="blog-module-title">友情链接</div>
						<fieldset class="layui-elem-field">
							  <legend>友情链接要求：</legend>
							  <div class="layui-field-box">
							  	<i class="fa fa-close"></i>经常宕机&nbsp;
                                    <i class="fa fa-close"></i>不合法规&nbsp;
                                    <i class="fa fa-close"></i>插边球站&nbsp;
                                    <i class="fa fa-close"></i>红标报毒&nbsp;
                                    <i class="fa fa-check"></i>原创优先&nbsp;
                                    <i class="fa fa-check"></i>技术优先
							  </div>
							</fieldset>
						<ul class="blogroll" th:each="link : ${application.linkList}"
							th:if="${not #lists.isEmpty(application.linkList)}">
							<li><a target="_blank" th:href="${link.linkUrl}"
								th:title="${link.linkName}"><span th:text="${link.linkName}+'  '+${link.linkUrl}"></span></a></li>
						</ul>
						<ul class="blogroll" th:each="link : ${application.linkList}"
							th:if="${#lists.isEmpty(application.linkList)}">
							<li>暂无信息！</li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<footer class="blog-footer">
		<p>
			<span>Copyright</span><span>&copy;</span><span>2017</span><a>梦境迷离</a><span>Design By jxnu-liguobin</span>
		</p>
		<p>
			<a  target="_blank">??</a>
		</p>
	</footer>
	<!--侧边导航-->
	<ul
		class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide"
		lay-filter="nav">
		<li class="layui-nav-item layui-this"><a th:href="@{/index/home}"><i
				class="fa fa-home fa-fw"></i>&nbsp;网站首页</a></li>
		<li class="layui-nav-item"><a th:href="@{/index/article}"><i
				class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a></li>
		<li class="layui-nav-item"><a th:href="@{/indexViews/resource.html}"><i
				class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a></li>
		<li class="layui-nav-item"><a th:href="@{/indexViews/timeline.html}"><i
				class="fa fa-road fa-fw"></i>&nbsp;点点滴滴</a></li>
		<li class="layui-nav-item"><a th:href="@{/index/about}"><i
				class="fa fa-info fa-fw"></i>&nbsp;关于本站</a></li>
	</ul>
	<!--分享窗体-->
	<div class="blog-share layui-hide">
		<div class="blog-share-body">
			<div style="width: 200px;height:100%;">
				<div class="bdsharebuttonbox">
					<a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a> <a
						class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a> <a
						class="bds_weixin" data-cmd="weixin" title="分享到微信"></a> <a
						class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
				</div>
			</div>
		</div>
	</div>
	<!--遮罩-->
	<div class="blog-mask animated layui-hide"></div>
	<!-- layui.js -->
	<script th:src="@{/layui/layui.js}"></script>
	<!-- 全局脚本 -->
	<script th:src="@{/js/global.js}"></script>
	<!-- 本页脚本 -->
	<script th:src="@{/js/home.js}"></script>
	<script th:inline="javascript" type="text/javascript">
	layui.use(['laypage', 'layer','jquery'], function(){
	  var laypage = layui.laypage,layer = layui.layer,$ = layui.jquery;
	  	//图片缩放
	window.onload = function() {  
      var w = $('#imageForArticle').width()-$('.article-title').width();//设置最大宽度,也可根据img的外部容器 而动态获得,比如：$("#demo").width();
      console.info("当前宽："+w);
      $("img").each(function() {//如果有很多图片,使用each()遍历   
            var img_w = $(this).width();//图片宽度   
            var img_h = $(this).height();//图片高度   
            if (img_w > w) {//如果图片宽度超出指定最大宽度   
                var height = (w * img_h) / img_w; //高度等比缩放   
                $(this).css( {  
                    "width" : w,"height" : height  
                });//设置缩放后的宽度和高度   
            }  
        });  
       }
	  //自定义样式
	  $("#imageName").attr('src','../uploads/'+[[${application.blogger.imageName}]]); //显示博主头像
	  var pindex = [[${application.pageBean.currPage}]];// 当前页
      var pcount = [[${application.pageBean.total}]];// 总记录数
      if(pcount==0) {
      	layer.msg('暂无内容！', {
                        title: '系统提示',
                        icon: 5,
                    },
                    function(index) {
                        layer.close(index); //关闭
                         //window.location.href="/index/home?page=1";
                    });
      }
	  laypage.render({
	    elem: 'demo2'
	    ,count: pcount //总记录数
	    ,theme: '#1E9FFF'
	    ,limit : 10//每页十条
	    ,curr :pindex,
	    jump: function(obj, first){
	    //obj包含了当前分页的所有参数，比如：
	    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
	    console.log(obj.limit); //得到每页显示的条数
	    console.log(obj.count); //得到每页显示的条数
	      if(!first){
            window.location.href="/index/home?page="+obj.curr
       }
	  }
	  });
	  
	});
</script>

</body>
</html>