.mixed {
    width: 49%;
    margin: 0 1%;
    margin-bottom: 10px;
    background: #fff;
    height: 270px;
    float: left;
    padding: 8px 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.mixed-main .mixed:nth-child(odd) {
    margin-left: 0;
}

.mixed-main .mixed:nth-child(even) {
    margin-right: 0;
}

.mixed-pic {
    width: 100%;
    height: 76%;
    text-align: center;
}

    .mixed-pic a {
        display: inline-block;
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        .mixed-pic a:hover {
            opacity: .7;
            border: 1px solid #5FB878;
        }

    .mixed-pic img {
        width: 100%;
        height: 100%;
    }

.mixed-cover {
    width: 100%;
    height: 92px;
    text-align: center;
}

    .mixed-cover a {
        display: inline-block;
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        .mixed-cover a:hover {
            opacity: .7;
            border: 1px solid #5FB878;
        }

    .mixed-cover img {
        width: 100%;
        height: 100%;
    }

.mixed-title {
    text-align: center;
    padding: 5px 0;
    margin-top: 7px;
    margin-bottom: 5px;
}

    .mixed-title > a {
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        color: #01AAED;
    }

        .mixed-title > a:hover {
            color: #1E9FFF;
        }

.mixed-abstract {
    padding: 3px;
    text-align: center;
    font-size: smaller;
    color: #838383;
    height: 50px;
    overflow: hidden;
}

.mixed-info {
    font-size: smaller;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    padding: 2px 10px;
    text-align: center;
}
	.mixed-info .category {
        float: left;
    }

    .mixed-info .author {
        float: right;
    }

.mixed-footer {
    font-size: small;
    border-top: 1px solid #e7e7e7;
    box-shadow: 0 1px 0 0 #fff inset;
    color: #8B8B8C;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    line-height: 50px;
    text-align: center;
}

    .mixed-footer a:nth-child(2) {
        display: none;
    }

    .mixed-footer i {
        font-size: 12px !important;
    }


/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
    .mixed {
        width: 32%;
        margin: 0 1%;
        margin-bottom: 10px;
        height: 320px;
    }

    .mixed-main .mixed:nth-child(odd) {
        margin-left: 1%;
    }

    .mixed-main .mixed:nth-child(even) {
        margin-right: 1%;
    }

    .mixed-main .mixed:nth-child(3n+1) {
        margin-left: 0;
    }

    .mixed-main .mixed:nth-child(3n+3) {
        margin-right: 0;
    }

    .mixed-pic {
        width: 100%;
        height: 80%;
        text-align: center;
    }

	.mixed-cover {
        width: 100%;
        height: 150px;
        text-align: center;
    }
    
    .mixed-footer a:nth-child(2) {
        display: inline-block;
    }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
    .mixed {
        width: 23.5%;
        margin: 0 1%;
        margin-bottom: 10px;
    }

    .mixed-main .mixed:nth-child(odd) {
        margin-left: 1%;
    }

    .mixed-main .mixed:nth-child(even) {
        margin-right: 1%;
    }

    .mixed-main .mixed:nth-child(3n+1) {
        margin-left: 1%;
    }

    .mixed-main .mixed:nth-child(3n+3) {
        margin-right: 1%;
    }

    .mixed-main .mixed:nth-child(4n+1) {
        margin-left: 0;
    }

    .mixed-main .mixed:nth-child(4n) {
        margin-right: 0;
    }
}