<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>无法访问</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Fantasy Error Page Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script th:inline="javascript" type="application/x-javascript">
	
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } 



</script>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"
	media="all">
<link rel="stylesheet" th:href="@{/css/font-awesome.css}">
<link th:href="@{//fonts.googleapis.com/css?family=Pinyon+Script}"
	rel="stylesheet">
<link
	th:href="@{//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext}"
	rel="stylesheet">
</head>
<body>
	<div class="header">
		<h1>Sorry，您访问的页面没有找到！</h1>
	</div>
	<div class="w3-main">
		<div class="agile-info">
			<h2>404</h2>
			<h3>SORRY</h3>
			<p>The Page You're Looking for Was Not Found.</p>
			<a target="_Parent" th:href="@{/index/home.html}"><i class="fa fa-angle-double-left"
				aria-hidden="true"></i>返回主页</a>
		</div>
	</div>
	<div class="footer-w3l">
		<p>
			&copy; 2017  All rights reserved | Design by blog of jxnu-liguobin 
		</p>
	</div>

</body>
</html>