<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper实现的接口的路径(包名+接口名) -->
<mapper namespace="cn.edu.jxnu.blog.dao.BlogTypeDao">
	<!-- 返回结果映射 type使用mybatis-conf中的别名 可以省略包名 -->
	<resultMap id="BlogTypeResult" type="BlogType">
		<!-- id主键字段映射 -->
		<id property="id" column="id" />
		<!-- 普通属性映射 -->
		<result property="typeName" column="type_name" />
		<result property="orderNum" column="order_num" />
		<result property="blogCount" column="blog_count" />
	</resultMap>
	<!-- id为具体实现接口中的方法名 -->
	<insert id="addBlogType" parameterType="BlogType" keyProperty="id"
		useGeneratedKeys="true">
		insert into db_blog.t_blogtype
		<!-- 动态sql拼接 prefix前缀 suffix后缀 suffixOverrides除去最后多余的, -->
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="typeName!=null and typeName!=''">
				type_name,
			</if>
			<if test="orderNum!=null and orderNum!=''">
				order_num,
			</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="typeName!=null and typeName!=''">
				#{typeName},
			</if>
			<if test="orderNum!=null and orderNum!=''">
				#{orderNum},
			</if>
		</trim>
	</insert>
	<!-- 根据id删除博客分类 -->
	<delete id="deleteBlogType" parameterType="java.lang.Integer">
		DELETE FROM
		db_blog.t_blogtype where id=#{id}
	</delete>
	<!-- 根据id更新博客分类 -->
	<update id="updateBlogType" parameterType="BlogType">
		update db_blog.t_blogtype
		<set>
			<if test="typeName!=null and typeName!=''">
				type_name = #{typeName},
			</if>
			<if test="orderNum!=null and orderNum!=''">
				order_num = #{orderNum},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	<!-- 根据id查询博客分类信息 -->
	<select id="getById" parameterType="java.lang.Integer"
		resultMap="BlogTypeResult">
		SELECT id,type_name,order_num from
		db_blog.t_blogtype
		where
		id
		= #{id}
	</select>
	<!-- 分页查询，并且根据order_num排序增加显示博客数量左外连接 -->
	<select id="listByPage" resultMap="BlogTypeResult">
		SELECT
		t2.id,type_name,order_num,COUNT(t1.id) AS blog_count
		from
		db_blog.t_blogtype t2
		left join t_blog t1
		on t2.id=t1.type_id
		group by
		t2.id
		order by order_num
		limit #{start} ,#{end}
	</select>
	<!-- 查询博客分类的总数 -->
	<select id="getTotal" resultType="java.lang.Long">
		SELECT COUNT(id) from
		db_blog.t_blogtype
	</select>
	<!-- 绑定一个方法到mapper接口 -->
	<!-- 查询博客分类的全部信息，包含数量，供写博客的监听器使用和分类使用 -->
	<select id="getBlogTypeData" resultMap="BlogTypeResult">
		SELECT
		t2.*,
		COUNT(t1.id)
		AS blogCount
		FROM
		t_blog t1
		RIGHT
		JOIN
		t_blogtype
		t2
		ON
		t1.type_id = t2.id
		GROUP BY t2.type_name
		ORDER BY
		t2.order_num
	</select>
	<cache flushInterval="600000"></cache>
</mapper>